@keyframes jumpInfinite {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: 0;
  }
}

body {
  background-color: rgb(33, 26, 26);
  color: grey;
  text-indent: 5px;
  font-style: normal;
  opacity: 100;
}

.body__btn-group {
  justify-content: left;
  display: flex;
}

.body__btn-group__button {
  background-color: rgb(57, 46, 46);
  color: grey;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  position: relative;
  margin-right: 2%;
}

.body__btn-group__button:hover {
  color: darkgray;
}

.body__bnt-group__button:not(:last-child) {
  border-right: none;
}

.body__div__welcome {
  font-size: 25px;
  text-indent: 5px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-thickness: auto;
}

.body__div__introductory-text {
  top: 50px;
  font-size: 15pt;
  text-indent: 5px;
}

.body__nav__home-button {
  background-color: black;
  color: grey;
  border: none;
}

.body__div__cat-introductory-text {
  position: relative;
  top: 15px;
  font-size: 15pt;
  text-indent: 5px;
}

.body__div__details {
  position: relative;
  top: 50px;
}

.body__div__social-introductory-text {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.body__social-group {
  display: flex;
  justify-content: center;
}

.body__social-group__image {
  height: 75px;
  width: 75px;
  margin-top: 1%;
  margin-left: 15%;
  cursor: pointer;
}

.body__div__my-image {
  text-align: center;
}

.body__div__my-image__image {
  border: 2px solid rgb(77, 57, 57);
}

.body__list {
  display: flex;
  justify-content: left;
  position: relative;
  top: 50px;
}

.body__list__li {
  border: 2px solid rgb(77, 57, 57);
  width:max-content;
}

.body__list__li__image {
  display: flex;
  position: relative;
  justify-content: right;
  height: 300px;
  width: 400px;
}

.fa-home {
  background-color: black;
}

i {
  font-family: Arial, Helvetica, sans-serif;
}

.body__button-to-show-quiz {
  background-color: rgb(108, 88, 88);
  color: grey;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  position: absolute;
  top: 36px;
  left: 52%;
  display: block;
}

.body__left-arrow {
  position: absolute;
  left: 56%;
  top: 28px;
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  transform: rotateZ(90deg);
  animation: jumpInfinite 1.5S infinite;
}

.body__left-arrow:after {
  content: " ";
  position: absolute;
  top: 11px;
  left: -9px;
  width: 18px;
  height: 18px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

.body__div__question {
  display: none;
  position: relative;
  top: 90px;
  font-size: 15pt;
}

input[type="text"] {
  line-height: 1;
  background-color: rgb(108, 88, 88);
  width: 10%;
}

.body__div__form__eveluate-button {
  background-color: rgb(108, 88, 88);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  vertical-align: middle;
}

#body__div__lego-question {
  top: 90px;
  position: relative;
  display: none;
}

.body__hobby-text {
  position: relative;
  top: 90px;
}

.body__hobby-div {
  display: none;
  position: relative;
}

.body__hobby-div__image {
  width: 190px;
  height: 200px;
  position: relative;
  top: 80px;
  border: 2px solid white;
}

.body__vertical-line {
  height: 860px;
  border-left: 2px solid rgb(77, 57, 57);
  position: absolute;
  left: 5%;
}

.body__horizontal-line {
  width: 1680px;
  border-top: 2px solid rgb(77, 57, 57);
  position: absolute;
  margin-top: 0%;
}
